<div class="container">

    <div class="titulo">
        <h1>Para simular os valores<br>disponíveis, <b>teremos 3 passos</b></h1>
    </div>


    <div class="step">
        <div class="step-icon">
            <img src="assets/images/passo1.png" alt="Ícone Passo 1">
        </div>
        <div class="step-text">
            <div class="step-title">Passo 1</div>
            <div>Autorizar o acesso aos dados<br>do seu benefício</div>
        </div>
    </div>

    <div class="step">
        <div class="step-icon">
            <img src="assets/images/passo2.png" alt="Ícone Passo 2">
        </div>
        <div class="step-text">
            <div class="step-title">Passo 2</div>
            <div>Confirmar sua identidade com<br>uma selfie</div>
        </div>
    </div>

    <div class="step">
        <div class="step-icon">
            <img src="assets/images/passo3.png" alt="Ícone Passo 3">
        </div>
        <div class="step-text">
            <div class="step-title">Passo 3</div>
            <div>Visualizar ofertas e valores<br>disponíveis</div>
        </div>
    </div>

    <div class="botoes">
        <app-botao-primario texto="Continuar" navegarPara="consulta-dataprev"></app-botao-primario>
    </div>
</div>